html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}



/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 1px;
  border-radius: 4px;
  background-color: #3100f4;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn-login-register {

  display: inline-block;
  padding: 10px 40px;
  border-color: #8387ff;
  border-width: 1px 1px 1px;
  border-radius: 4px;
  background-color: #ffffff;
  color: #000000;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
  margin-left: 0px;

}

.username-password-textbox {

  display: inline-block;
  padding: 7px 40px;
  border-color: #ffcccc;
  border-width: 1px 1px 1px;
  border-radius: 4px;
  background-color: #ffffffab;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
  margin-left: 0px;

}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #008183;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #ffffff;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

.upload-button {

  display: inline-block;
  padding: 5px 10px;
  border-color: #000000;
  border-width: 1px 1px 1px;
  border-radius: 4px;
  background-color: #fa3f3f9f;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
  text-align: center;

  justify-content: center;
}

.file-button {

  display: inline-block;
  padding: 5px 10px;
  border-color: #000000;
  border-width: 1px 1px 1px;
  border-radius: 8px;
  background-color: #fa3f3f9f;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;

  margin-left: 0px;

}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */
.upload-form {

  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;

  background-color: #ffffffd0;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);

}

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;

  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

.formPanelPages {

  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;

  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);

  color: #444;
  background-color: #ffffffab;

  text-align: center;
}

.tokensWon {

  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 50px;
  margin: 40px auto 100px;

  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);

  color: #444;
  background-color: #d7dcff;

  text-align: center;
  font-size: 200px;

  animation-name: tokensWon;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes tokensWon {

  0% {
    background-color: #ff9292;
  }

  25% {
    background-color: #ffcc95;
  }

  50% {
    background-color: #fffd96;
  }

  75% {
    background-color: #8fffb6;
  }

  100% {
    background-color: #d7dcff;
  }

}

input {
  margin: 5px;
  margin-bottom: 10px;
}

/* ================================================================================
username and password css
================================================================================ */

.username {

  display: block;
  text-align: left;

}

.username-h6 {

  color: #000000;
  margin: 0;

}

.login-register-title {

  color: #ffffff;
  text-align: center;
  margin-top: 0;
  padding-top: 30px;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

}

/* ================================================================================
Background image
================================================================================ */

.background-image {

  height: 1000px;
  background-color: #ebedff;
  background: url('../../images/redandbluespheres.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  overflow: visible;

}