.progressLabel {
  /* background-color: #4caf50; */
  width: 90%;
  margin: 0%;
  margin-top: .5em;
  font-size: 18px;
}



.progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  height: 20px;
  border-radius: 10px;
  position: relative;
  margin-bottom: .5em;
}

.progress {
  height: 100%;
  background-color: #4caf50;
  border-radius: 10px;
  position: relative;
}

.percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}